<section class="about-page">
    <div class="span-col-img">
        <img src="../../assets/tech_bg.jpg" alt="">
    </div>
    <div class="span-col-p">
        <p>We are dedicated to informing and empowering our clients about the latest online security measures. 
            We believe that everyone deserves to feel safe and protected online, which is why we provide comprehensive resources and tools to help mitigate cyber risks. 
            With our guidance, you can stay informed and take proactive steps to safeguard your online presence.</p>
    </div>
</section>
