<section class="terms-page">
    <div class="titles">
        <h1>Terms and Conditions</h1>
        <h3>--CONFIDENTIALITY POLICY--</h3>
    </div>
    <div class="content">
        <ul>
            <li><span class="span-font-weight"> Use of Information </span><br>
                We use the confidential information that we collect for the following purposes:
                To provide and improve the App: We use the confidential information to provide and improve the App, including providing personalized features and content.</li>
            <li><span class="span-font-weight">Information Security </span><br>
                We take reasonable measures to protect the confidentiality of the information that we collect from our users. This includes using industry-standard encryption technologies to store and transmit the confidential information.</li>
            <li><span class="span-font-weight">Information Sharing </span><br>
                We do not sell or share your confidential information with third parties, except as described in this Confidentiality Policy or as required by law.</li>
            <li><span class="span-font-weight">Data Retention </span><br>
                We retain the confidential information for as long as necessary to provide the App and for other legitimate purposes, such as legal compliance.</li>
        </ul>
    </div>
</section>
