*{
    font-family: 'PT Serif', serif;
}
.terms-page{
    text-align: center;
    margin: 4em auto;
    width: 900px;
}
ul {
    /* display: flex;
    flex-direction: column; */
    /* margin: 0 auto; */
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
ul li{
    list-style: none;
    font-size: 1.2em;
    color: #fff;
    line-height: 2.5rem;
}
.span-font-weight{
    font-size: 1.3em;
    font-weight: 500;
}
.content{
    margin-top: 3em;
}
h1, h3{
    color: #fff;
    font-weight: 500;
    margin: 0 auto;
}