<section class="home-page">
    <div class="span-col-img">
        <img src="../../assets/priva_logo.png" alt="">
    </div>
    <div class="span-col-p">
        <p>We use the confidential information that we collect for the following purposes: To provide and improve the App: 
            We use the confidential information to provide and improve the App, including providing personalized features and content. 
            By using the App, you acknowledge that you have read this Confidentiality Policy, understand it, and agree to be bound by it.</p>
    </div>
</section>
